{% extends 'cart/base.html' %}
{% block content %}
  <h2>Ваш кошик</h2>

  {% if items %}
    <form method="post" action="{% url 'cart:cart_update_quantity' %}">
      {% csrf_token %}
      <table>
        <thead>
          <tr>
            <th>Товар</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Сума</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ci in items %}
            <tr>
              <td>{{ ci.product.name }}</td>
              <td>{{ ci.product.price }} грн</td>
              <td>
                <input type="number" name="quantities_{{ ci.id }}" value="{{ ci.quantity }}" min="1" max="99">
              </td>
              <td>{{ ci.total_price }} грн</td>
              <td><a href="{% url 'cart:cart_remove' ci.id %}" class="cart-remove">✖️</a>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="cart-update-btn">
        <button type="submit">Оновити кількість</button>
      </div>

    </form>
    <div class="cart-order-btn">
    <p><strong>Загалом: {{ total }} грн</strong></p>
    <form action="{% url 'cart:checkout' %}" method="get">
        <button type="submit">Оформити замовлення</button>
    </form>
    </div>

  {% else %}
    <p>Кошик порожній.</p>
  {% endif %}

{% endblock %}