{% extends 'cart/base.html' %}

{% block content %}
  <h2>Ваше замовлення №{{ order.id }}</h2>

  <p><strong>Ім’я:</strong> {{ order.name }}</p>
  <p><strong>Дата:</strong> {{ order.created_at|date:"d.m.Y H:i" }}</p>

  <table>
    <thead>
      <tr>
        <th>Товар</th>
        <th>Кількість</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.orderitem_set.all %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="cart-back-btn">
    <form action="{% url 'cart:detail' %}" method="get">
      <button type="submit">Повернутися до кошика</button>
    </form>
  </div>
{% endblock %}