/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1 {
    margin: 0;
}
.header {
    background-image: url(../img/header/backg2.png);
    height: 1080px;
    max-width: 1920px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 20px;
}
.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__info {
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header__info-left {

}
.header__info-right{

}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100px;
}
.menu {
    display: flex;
    gap: 50px;
}
.menu__item {
    list-style: none;
}
.header__content {
}