<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackBrew</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>


<body>
    <header class="header">
        <div class="container">
            
            <div class="header__info">
                <div class="header__info-left"> <span>Welcome to our cafe!</span> </div>
                <div class="header__info-right"><a href="#">Account</a></div>
            </div>
            
            <div class="header__logo"> 
                <a href="#"><img src="{% static 'img/header/logo.png' %}" alt="logo png"></a>
            </div>
            <div class="header__title"> 
                <nav>
                    <ul class="menu">
                        <li class="menu__item"><a href="#">Coffe</a></li>
                        <li class="menu__item"><a href="#">Tea</a></li>
                        <li class="menu__item"><a href="#">Cold Drinks</a></li>
                        <li class="menu__item"><a href="#">Food</a></li>
                    </ul>
                </nav>
                <a href="#"><img src="{% static 'img/menu/Lupa1.png' %}" alt="lupa png"></a>
                <a href="#"><img src="{% static 'img/menu/Koshik1.png' %}" alt="koshik png"></a>
            </div>
            
            <div class="header__content"> </div>
        </div>
    </header>     


</body>
</html>
