{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackBrew | Головна</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

    <header class="header">
        <div class="container">
            
            <div class="header__info"> 
                <a href="#">BlackBrew</a>
                <span></span>
                <a href="#">Account</a>
                <a href="#">???</a>
            </div>
            
            <div class="header__title"> 
                <a href="#"><img src="img/header/logo.png" alt="Latte png"></a>
                <nav>
                    <ul class="menu">
                        <li class="menu__item"><a href="#">Coffe</a></li>
                        <li class="menu__item"><a href="#">Tea</a></li>
                        <li class="menu__item"><a href="#"></a></li>
                        <li class="menu__item"><a href="#"></a></li>
                    </ul>
                </nav>
                <img src="img/" alt="find png">
                <img src="img/" alt="corsina png">
            </div>
            
            <div class="header__content"> 
                <h1>Simple Furniture with <span>high-end</span> quality </h1>
                <div class="header__content-text"> SOME INFO </div>
                <a href="#">link</a>
            </div>
        </div>
    </header>



</body>
</html>
